<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="">

{% assign title = title |  concat: ' | Bang Bang Auto Detailing' %}

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="canonical" href="https://www.bangbangautodetailing.com{{ page.url }}">
  <meta id="view" name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=5, viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="https://irp.cdn-website.com/d9511e89/dms3rep/multi/Untitled+1630+x+900+px.jpg" />
  <link rel="icon" type="image/x-icon" href="https://irp.cdn-website.com/d9511e89/site_favicon_16_1738719270240.ico" />
  <link rel="preconnect" href="https://lirp.cdn-website.com/" />
  <link rel="stylesheet" href="/assets/css/merge.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/accordion.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/d-css-runtime-flex.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/ed546b3a09337ff6f44214a612a1eb20.css" id="widgetCSS" />
  <link type="text/css" rel="stylesheet" href="/assets/css/d9511e89_1.min.css?v=41" id="siteGlobalCss" />
  <meta name="google-site-verification" content="62UuktzIjpheTufmrBeShFh4p_U65mgdQq4ssYtAo24" />
  <meta name="description" content="{{ page.description }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/209-1920w.jpg" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/209-1920w.jpg" />
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "Bang Bang Auto Detailing",
      "url" : "https://www.bangbangautodetailing.com/"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "#1 Auto Detailing in Orlando",
        "item": "https://www.bangbangautodetailing.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "About Bang Bang Auto Detailing",
        "item": "https://www.bangbangautodetailing.com/about-us/"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Our Services",
        "item": "https://www.bangbangautodetailing.com/services/"
      },{
        "@type": "ListItem",
        "position": 4,
        "name": "Full Exterior and Interior Car Detailing",
        "item": "https://www.bangbangautodetailing.com/full-exterior-and-interior-detail/"
      },{
        "@type": "ListItem",
        "position": 6,
        "name": "Paint Correction and Trim Restoration Service",
        "item": "https://www.bangbangautodetailing.com/paint-and-trim-restoration/"
      },{
        "@type": "ListItem",
        "position": 7,
        "name": "Expert Vinyl Removal Service",
        "item": "https://www.bangbangautodetailing.com/vinyl-removal/"
      },{
        "@type": "ListItem",
        "position": 8,
        "name": "Expert Boats Detailing Service",
        "item": "https://www.bangbangautodetailing.com/boats-detailing/"
      },{
        "@type": "ListItem",
        "position": 9,
        "name": "Expert RVs Detailing Service",
        "item": "https://www.bangbangautodetailing.com/rvs-detailing/"
      },{
        "@type": "ListItem",
        "position": 10,
        "name": "Detailing Works Gallery",
        "item": "https://www.bangbangautodetailing.com/see-our-work/"
      },{
        "@type": "ListItem",
        "position": 11,
        "name": "Contact Us",
        "item": "https://www.bangbangautodetailing.com/contact-us/"
      }]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Bang Bang Auto Detailing",
      "alternateName": "Bang Bang Auto Detailing",
      "url": "https://www.bangbangautodetailing.com/",
      "logo": "https://lirp.cdn-website.com/d9511e89/dms3rep/multi/opt/bangbanglogo-173w.png",
      "sameAs": [
        "https://www.facebook.com/BangBangdetail",
        "https://www.instagram.com/bangbangdetail/"
      ]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context" : {
        "@vocab" : "http://schema.org/"
      },
      "@type" : "LocalBusiness",
      "name" : "Bang Bang Auto Detailing",
      "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "2 N Orange Ave",
        "addressLocality" : "Orlando",
        "addressRegion" : "FL",
        "postalCode" : "32801",
        "addressCountry" : "US"
      },
      "geo" : {
        "@type" : "GeoCoordinates",
        "latitude" : "28.54211",
        "longitude" : "-81.379036"
      },
      "url" : "https://www.bangbangautodetailing.com",
      "description" : "Getting your car detailed is a hassle. At Bang Bang Auto Detailing, we bring the cleaning to you! There's no need to go out of your way when a simple phone call can get your car a showroom-quality clean right from home. As a top-rated car detailing service in Orlando, FL, we specialize in interior and exterior detailing, paint correction, ceramic coatings, and more. Our team is dedicated to providing a flawless finish with convenience and care. Whether you need a quick refresh or a deep clean, we guarantee professional results every time. Book your mobile detailing service today!",
      "telephone" : "(407) 878-9967",
      "email" : "bangbangautodetailing@gmail.com",
      "logo" : "https://irp.cdn-website.com/d9511e89/dms3rep/multi/bangbanglogo.png",
      "sameAs" : [ "https://youtube.com/@bangbangdetail6958", "https://google.com/maps/place/Bang+Bang+Auto+Detailing/data=!4m2!3m1!1s0x0:0xe070d908de665010?sa=X&ved=1t:2428&hl=en&ictx=111", "https://instagram.com/bangbangdetail", "https://facebook.com/BangBangdetail" ],
      "image" : [ "https://irp.cdn-website.com/d9511e89/dms3rep/multi/1750.png", "https://irp.cdn-website.com/d9511e89/dms3rep/multi/pre-owned-travel-trailers-sale-campers-rvs-dealership-lot.jpg", "https://irp.cdn-website.com/d9511e89/dms3rep/multi/20108669.jpg", "https://irp.cdn-website.com/d9511e89/dms3rep/multi/pexels-photo-10126663.jpeg", "https://irp.cdn-website.com/d9511e89/dms3rep/multi/21-b7748d4b.png" ],
      "openingHoursSpecification" : [ {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : [ "Monday" ],
        "opens" : "09:00",
        "closes" : "18:00"
      }, {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : [ "Tuesday" ],
        "opens" : "09:00",
        "closes" : "18:00"
      }, {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : [ "Wednesday" ],
        "opens" : "09:00",
        "closes" : "18:00"
      }, {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : [ "Thursday" ],
        "opens" : "09:00",
        "closes" : "18:00"
      }, {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : [ "Friday" ],
        "opens" : "09:00",
        "closes" : "18:00"
      }, {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : [ "Saturday" ],
        "opens" : "09:00",
        "closes" : "18:00"
      } ],
      "@id" : "https://www.bangbangautodetailing.com",
      "priceRange" : "$$"
    }
  </script>
</head>

<body id="dmRoot" class="dmRoot fix-mobile-scrolling flex-site dmResellerSite " style="padding:0;margin:0;" data-flex-site>
  <div id="dm" class='dmwr'>
    <div class="dm_wrapper -var5 null ">
      <body dmwrapped="true" id="1084548655">
        <div dmtemplateid="FlexHeader" data-responsive-name="FlexLayout" class="runtime-module-container dm-bfs dm-layout-sec hasAnimations hasStickyHeader inMiniHeaderMode rows-1200 hamburger-reverse dmPageBody dmDHeader" id="dm-outer-wrapper" data-soch="true" data-background-parallax-selector=".dmHomeSection1, .dmSectionParallex">
          <div id="dmStyle_outerContainer" class="dmOuter">
            <div id="dmStyle_innerContainer" class="dmInner">
              <div class="dmLayoutWrapper standard-var dmStandardDesktop">
                <div id="site_content">
                  {% include "header.liquid" %}
                  <div dmwrapped="true" id="dmFirstContainer" class="dmBody u_dmStyle_template_dmPageNotFound">
                    <div id="allWrapper" class="allWrapper">
                      <div id="dm_content" class="dmContent">
                        {{ content }}
                      </div>
                    </div>
                  </div>
                  {% include "footer.liquid" %}
                  {% include "message-us.liquid" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
    </div>
  </div>
  <link rel="stylesheet" href="https://irp.cdn-website.com/WIDGET_CSS/3ae23524f151e31dcd0c91853124653d.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/photoswipe.min.css" integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe.umd.min.js" integrity="sha512-BXwwGU7zCXVgpT2jpXnTbioT9q1Byf7NEXVxovTZPlNvelL2I/4LjOaoiB2a19L+g5za8RbkoJFH4fMPQcjFFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe-lightbox.umd.min.js" integrity="sha512-D16CBrIrVF48W0Ou0ca3D65JFo/HaEAjTugBXeWS/JH+1KNu54ZOtHPccxJ7PQ44rTItUT6DSI6xNL+U34SuuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>
